In [1]:
%matplotlib inline
from ipywidgets import interactive, fixed

In [2]:
import pandas as pd
import numpy as np

In [3]:
pd.options.display.float_format = '{:.2f}'.format

In [4]:
def stats(row):
    minAn = min(row)
    maxAn = max(row)
    meanAn = np.mean(row) # Expected value
    varAn = np.var(row)
    return minAn, maxAn, meanAn, varAn

In [8]:
def analyze_csv(fname):
    df = pd.read_csv(fname, header=None)
    ns = df.iloc[:,0].tolist()
    df = df.drop(df.columns[0], 1)
    
    data = []
    for index, row in df.iterrows():
        row = row.tolist()
        data.append(stats(row))

    return pd.DataFrame(data, index=ns, columns=["min(X)", "max(X)", "E[X]", "Var[X]"])

In [9]:
analyze_csv("qs_experiment.csv")

       min(X)  max(X)      E[X]      Var[X]
100      1116    1531   1238.77     3550.13
200      2542    3323   2796.78    14486.96
300      4083    5273   4484.13    33618.72
400      5761    7264   6251.69    61548.15
500      7430    9509   8082.08    92725.78
...       ...     ...       ...         ...
9600   209007  248696 221491.64 36633387.31
9700   210188  248974 223688.12 35881662.17
9800   212675  250610 226422.51 37173988.97
9900   216035  255963 228842.39 38488562.15
10000  218765  256169 231643.61 39925426.12

[100 rows x 4 columns]

In [10]:
analyze_csv("ms_experiment.csv")

       min(X)  max(X)      E[X]   Var[X]
100      1945    2077   2021.85   305.07
200      4562    4709   4642.63   632.11
300      7323    7578   7488.20   959.25
400     10357   10585  10480.22  1262.64
500     13439   13661  13560.82  1393.15
...       ...     ...       ...      ...
9600   382854  384078 383555.35 31852.69
9700   387379  388654 388003.83 31881.82
9800   391832  393077 392448.44 30174.62
9900   396186  397512 396888.65 35016.41
10000  400768  401911 401347.51 34700.91

[100 rows x 4 columns]